*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: #FEE9D3;
    display: inline-block;
    width: 100%;
}

nav li {
    display: inline-block;
    list-style: none;
    padding-top: 40px;
}
nav img {
    padding-top: 20px;
    padding-left: 96px;
}
nav li a{
    font-family: "Avenir";
    text-decoration: none;
    letter-spacing: 3px;
    color: black;
    font-size: 16px;
    padding-left: 100px;
    /*text-align: left;*/
}
.hover-link:hover {
    font-weight: bold;
}
.nav-left {
    float:left;
}

.nav-left img {
    vertical-align: top;
    display: inline-block;
}
.nav-right {
    margin-right: 96px;
    float:right;
}
.nav-right #cart {
    border: 1px solid black;
    border-radius: 7px;
    margin-left: 100px;
    padding: 12px 23px;
}
hr {
    width: 100%;
    border-bottom: 0.3px solid #CAC9C9;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  #shopall {
    font-weight: bold;
}

.breadcrumb {
    margin-left: 98px;
    margin-top: 58px;
}
.breadcrumb p {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.11em;
    display: inline-block;
}

.section-cards h3 {
    font-family: Adobe Caslon Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.05em;
    margin-left: 96px;
}
h2 {
    font-family: Adobe Caslon Pro;
    font-style: normal;
    font-size:40px;
    letter-spacing: 0.05em;
    margin-left: 96px;
}


.section-cards h2 {
    margin-top: 10px;
    margin-left: 96px;
}

.detail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 96px;
    margin-top: 50px;
    margin-bottom: 150px;
}
.right-grid {
    width: 413px;
    margin-left: 60px;
}
.thumbnail img {
    margin-bottom: 35px;
}

#ingredients {
    font-weight: bold;
}
#ingredients-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 20px;
}
.image-shadow {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}
.glaze {
    margin-top: 55px;
}
.detail-grid p{
    font-family: Adobe Caslon Pro;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.11em;
    margin-bottom: 12px;
}
.glaze-grid {
    width: 368px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.glaze-grid p {
    width: 51px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.11em;
    text-align: left;
}
.button-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top:32px;
}
.button-plus-minus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'avenir', sans-serif;
    font-style: normal;
    border: 1px solid #808080;
    border-radius: 7px;
    width: 157px;
    height: 57px;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.button-plus-minus p {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.11em;
 
}

.button-add-cart {
    font-family: 'avenir', sans-serif;
    font-style: normal;
    border: 1px solid #808080;
    border-radius: 7px;
    width: 222px;
    height: px;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: center;
    padding-top: 16px;
    padding-bottom: 0px;
}
.button-add-cart:hover {
    background-color: black;
    color: white;
}
.gift {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    margin-top: 10px;
    justify-items: end;
}

.gift-image {
    /* display: inline-block; */
    grid-column-start: 3;
}

.gift p {    
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.11em;
    padding-top: 5px;
}
.carousel {
    display: block;
    margin-top: 33px;
    margin-left: 48px;
    margin-bottom: 113px;
}
.card  {
    display: inline-block;
    border: 1px solid #808080;
    border-radius: 7px;
    width: 250px;
    height: 180px;
    margin-left: 48px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 49px;
}

.card-1, .card-2, .card-3 {
    margin-left: 20px;
}

.card img{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}


.card p {
    font-family: Adobe Caslon Pro;
    font-style: normal;
    text-align: center;
    padding: 10px;
    letter-spacing: 0.2rem;
}

.button-next {
    border: 1px solid #808080;
    border-radius: 7px;
    width: 47px;
    height: 49px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right; 
    margin-right: 40px;
    margin-top: 110px;
}

.button-next img {
    margin-top: 11px;
}

footer {
    clear: both;
    background-color: #FEE9D3;
    padding-top: 53px;
    padding-bottom: 53px;
    margin-top: 100px;
}
.bold {
    font-weight: bold;
}

.footer-left {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    grid-column-start: 1fr;
    margin-left: 96px;
}

.footer-right {
    margin-left:600px;
}
.footer-right img{
    display: block;
}
#center-logo {
    padding-left: 15px;
}
footer li, li a{
    list-style: none;
    color: black;
    text-decoration: none;
    font-family: 'avenir', sans serif;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 2rem;
}

